.login_page{
    height: 100vh;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_form{
    width: 350px;
    /* border: 1px solid gray; */
    padding: 2rem 1rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}